<div id="chart">
    <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [series]="chartOptions.series"
        [xaxis]="chartOptions.xaxis"
        [markers]="chartOptions.markers"
        [stroke]="chartOptions.stroke"
        [yaxis]="chartOptions.yaxis"
        [title]="chartOptions.title"
        [fill]="chartOptions.fill"
        [tooltip]="chartOptions.tooltip"
        [legend]="chartOptions.legend"
    ></apx-chart>
</div>